@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.avenir-black-black-36px {
  color: black;
  font-family: "Avenir-Black", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
}
.avenir-roman-normal-black-24px {
  color: black;
  font-family: "Avenir-Roman", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.border-class-2 {
  border: 1px solid var(--mystic);
}
.border-class-3 {
  border: 1px solid var(--fern);
}
.frame-1 {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 3249px;
  justify-content: flex-start;
  width: 1440px;
}
.frame-1 .background-4eduM0 {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.frame-1 .background-BJQsbv {
  background-color: white;
  border-radius: 5px;
  height: 48px;
  left: 1243px;
  position: absolute;
  top: 16px;
  width: 144px;
}
.frame-1 .background-RH0WJ5 {
  background-color: var(--fern);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 48px;
  left: 934px;
  position: absolute;
  top: 1960px;
  width: 144px;
}
.frame-1 .bridge-the-esting-380 {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 50.6px;
  position: absolute;
  text-align: left;
  top: 188px;
  width: 547px;
}
.frame-1 .by-signing-itions-333 {
  background-color: transparent;
  height: 20px;
  left: 795px;
  letter-spacing: 0px;
  line-height: 19.6px;
  position: absolute;
  text-align: left;
  top: 842px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .choice-05-1 {
  background-color: transparent;
  height: 524px;
  left: 749px;
  position: absolute;
  top: 1290px;
  width: 634px;
}
.frame-1 .choose-a-l--needs-387 {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 50.6px;
  position: absolute;
  text-align: left;
  top: 1397px;
  width: 585px;
}
.frame-1 .divider-4eduM0 {
  background-color: transparent;
  height: 1px;
  left: 798px;
  position: absolute;
  top: 692px;
  width: 170px;
}
.frame-1 .divider-BJQsbv {
  background-color: transparent;
  height: 1px;
  left: 1028px;
  position: absolute;
  top: 692px;
  width: 170px;
}
.frame-1 .email-359 {
  background-color: transparent;
  height: 16px;
  left: 798px;
  letter-spacing: 0px;
  line-height: 15.6px;
  position: absolute;
  text-align: left;
  top: 438px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .fyi-footer {
  align-items: flex-end;
  background-color: var(--concrete);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 277px;
  padding: 39px 511px;
  position: absolute;
  top: 2072px;
  width: 1440px;
}
.frame-1 .fyinvestments {
  background-color: transparent;
  height: 23px;
  left: 601px;
  position: absolute;
  top: 2191px;
  width: 239px;
}
.frame-1 .group-12 {
  background-color: transparent;
  height: 58px;
  left: 922px;
  position: absolute;
  top: 612px;
  width: 152px;
}
.frame-1 .group-23 {
  background-color: transparent;
  height: 46px;
  left: 61px;
  position: absolute;
  top: 19px;
  width: 239px;
}
.frame-1 .input-group-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  left: 798px;
  position: absolute;
  top: 458px;
  width: 400px;
}
.frame-1 .input-group-BJQsbv {
  top: 541px;
}
.frame-1 .input-regu-ar-default-txxqoN {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 40px;
  justify-content: flex-start;
  padding: 0 16px;
  width: 400px;
}
.frame-1 .line-1 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 84px;
  width: 1440px;
}
.frame-1 .link-313 {
  background-color: transparent;
  height: 16px;
  left: 357px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 34px;
  width: 70px;
}
.frame-1 .make-infor-isions-383 {
  background-color: transparent;
  height: auto;
  left: 765px;
  letter-spacing: 0px;
  line-height: 50.6px;
  position: absolute;
  text-align: left;
  top: 830px;
  width: 604px;
}
.frame-1 .or-337 {
  background-color: transparent;
  height: 18px;
  left: 987px;
  letter-spacing: 0px;
  line-height: 18.2px;
  position: absolute;
  text-align: left;
  top: 683px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 900px;
  position: relative;
  width: 1440px;
}
.frame-1 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 2349px;
  margin-top: 0px;
  position: relative;
  width: 1440px;
}
.frame-1 .overlap-group2 {
  background-color: transparent;
  flex-shrink: 0;
  height: 33px;
  margin-top: 106px;
  position: relative;
  width: 416px;
}
.frame-1 .password-324 {
  background-color: transparent;
  height: 16px;
  left: 798px;
  letter-spacing: 0px;
  line-height: 15.6px;
  position: absolute;
  text-align: left;
  top: 543px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .password-357 {
  background-color: transparent;
  height: 16px;
  left: 798px;
  letter-spacing: 0px;
  line-height: 15.6px;
  position: absolute;
  text-align: left;
  top: 521px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .privacy-policy-331 {
  background-color: transparent;
  height: auto;
  left: 226px;
  letter-spacing: 0px;
  line-height: 38.4px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 159px;
}
.frame-1 .ready-to-g-tarted-390 {
  background-color: transparent;
  color: white;
  font-family: "Avenir-Black", Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 362px;
  letter-spacing: 0px;
  line-height: 67.5px;
  position: absolute;
  text-align: left;
  top: 1952px;
  white-space: nowrap;
  width: 508px;
}
.frame-1 .rectangle-29 {
  background-color: white;
  height: 900px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.frame-1 .rectangle-33 {
  background-color: var(--fern);
  height: 45px;
  left: 637px;
  position: absolute;
  top: 2180px;
  width: 6px;
}
.frame-1 .rectangle-35 {
  background-color: var(--concrete);
  border-radius: 5px;
  height: 48px;
  left: 797px;
  position: absolute;
  top: 718px;
  width: 400px;
}
.frame-1 .rectangle-36 {
  background-color: var(--concrete);
  border-radius: 5px;
  height: 48px;
  left: 797px;
  position: absolute;
  top: 777px;
  width: 400px;
}
.frame-1 .rectangle-37 {
  background-color: white;
  height: 2349px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.frame-1 .rectangle-40 {
  background-color: rgba(60, 89, 64, 1);
  height: 172px;
  left: 0px;
  position: absolute;
  top: 1900px;
  width: 1440px;
}
.frame-1 .rectangle-41 {
  background-color: transparent;
  height: 661px;
  left: 122px;
  position: absolute;
  top: 164px;
  width: 589px;
}
.frame-1 .shuttersto-erted-03-1 {
  background-color: transparent;
  height: 576px;
  left: 671px;
  position: absolute;
  top: 42px;
  width: 696px;
}
.frame-1 .sign-up-wi-cebook-374 {
  background-color: transparent;
  height: 18px;
  left: 948px;
  letter-spacing: 0px;
  line-height: 18.2px;
  position: absolute;
  text-align: center;
  top: 791px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .sign-up-wi-google-370 {
  background-color: transparent;
  height: 18px;
  left: 948px;
  letter-spacing: 0px;
  line-height: 18.2px;
  position: absolute;
  text-align: center;
  top: 733px;
  white-space: nowrap;
  width: auto;
}
.frame-1 .span1-x06ExZ {
  color: rgba(58, 58, 58, 1);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.frame-1 .span2-x06ExZ {
  color: rgba(58, 58, 58, 1);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.frame-1 .span3-x06ExZ {
  color: rgba(58, 58, 58, 1);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.frame-1 .span4-x06ExZ {
  color: rgba(58, 58, 58, 1);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.frame-1 .span5-x06ExZ {
  color: rgba(58, 58, 58, 1);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.frame-1 .subtitle-360 {
  background-color: transparent;
  height: auto;
  left: 798px;
  letter-spacing: 0px;
  line-height: 33.8px;
  position: absolute;
  text-align: left;
  top: 302px;
  width: 508px;
}
.frame-1 .subtitle-379 {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 33.8px;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 604px;
}
.frame-1 .subtitle-382 {
  background-color: transparent;
  height: auto;
  left: 765px;
  letter-spacing: 0px;
  line-height: 33.8px;
  position: absolute;
  text-align: left;
  top: 900px;
  width: 604px;
}
.frame-1 .subtitle-386 {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 33.8px;
  position: absolute;
  text-align: left;
  top: 1520px;
  width: 604px;
}
.frame-1 .terms-of-service-330 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 38.4px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 212px;
}
.frame-1 .text-317 {
  background-color: transparent;
  height: 22px;
  left: 1268px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 29px;
  width: 97px;
}
.frame-1 .text-394 {
  background-color: transparent;
  color: white;
  font-family: "Roboto-Medium", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 22px;
  left: 958px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1973px;
  width: 97px;
}
.frame-1 .title-361 {
  background-color: transparent;
  color: black;
  font-family: "ITC Souvenir-Medium", Helvetica, Arial, serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  height: 111px;
  left: 795px;
  letter-spacing: 0px;
  line-height: 52.5px;
  position: absolute;
  text-align: left;
  top: 164px;
  width: 575px;
}
.frame-1 .tree-03-1 {
  background-color: transparent;
  height: 568px;
  left: 136px;
  position: absolute;
  top: 656px;
  width: 458px;
}
.frame-1 .type-your-email-346 {
  background-color: transparent;
  flex-shrink: 0;
  height: 20px;
  letter-spacing: 0px;
  line-height: 19.6px;
  min-height: 20px;
  min-width: 117px;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.frame-1 .vector-4eduM0 {
  background-color: transparent;
  height: 18px;
  left: 922px;
  position: absolute;
  top: 733px;
  width: 17px;
}
.frame-1 .vector-6sb1qn {
  background-color: transparent;
  height: 8px;
  left: 923px;
  position: absolute;
  top: 743px;
  width: 14px;
}
.frame-1 .vector-BJQsbv {
  background-color: transparent;
  height: 8px;
  left: 923px;
  position: absolute;
  top: 733px;
  width: 14px;
}
.frame-1 .vector-hbmWG9 {
  background-color: transparent;
  height: 13px;
  left: 928px;
  position: absolute;
  top: 794px;
  width: 7px;
}
.frame-1 .vector-ovOecM {
  background-color: transparent;
  height: 9px;
  left: 930px;
  position: absolute;
  top: 740px;
  width: 9px;
}
.frame-1 .vector-wPpLiT {
  background-color: transparent;
  height: 20px;
  left: 921px;
  position: absolute;
  top: 790px;
  width: 20px;
}
.frame-1 .x-332 {
  background-color: transparent;
  height: auto;
  left: 204px;
  letter-spacing: 0px;
  line-height: 38.4px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 212px;
}
.frame-1 .x2020-for-y-tments-328 {
  align-self: center;
  background-color: transparent;
  color: black;
  flex-shrink: 0;
  font-family: "Raleway-Medium", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0px;
  line-height: 38.4px;
  margin-left: 2px;
  min-height: 33px;
  text-align: left;
  white-space: nowrap;
  width: 248px;
}
.frame-1 .xmlid-1 {
  background-color: transparent;
  height: 501px;
  left: 273px;
  position: absolute;
  top: 214px;
  width: 297px;
}
.inter-bold-black-pearl-12px {
  color: var(--black-pearl);
  font-family: "Inter-SemiBold", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-san-juan-14px {
  color: var(--san-juan);
  font-family: "Inter-SemiBold", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.inter-normal-onyx-14px {
  color: var(--onyx);
  font-family: "Inter", Helvetica, Arial, serif;
  font-size: 14px;
}
.inter-regular-normal-lynch-14px {
  color: var(--lynch);
  font-family: "Inter-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.raleway-medium-black-24px {
  color: black;
  font-family: "Raleway-Medium", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.roboto-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: "Roboto-Bold", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.roboto-medium-fern-18px {
  color: var(--fern);
  font-family: "Roboto-Medium", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.roboto-regular-normal-black-18px {
  color: black;
  font-family: "Roboto-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black-pearl: rgba(4, 18, 38, 1);
  --concrete: rgba(242, 242, 242, 1);
  --eerie-black: rgba(29, 29, 29, 1);
  --fern: rgba(86, 189, 102, 1);
  --lynch: rgba(114, 131, 156, 1);
  --mystic: rgba(222, 229, 238, 1);
  --onyx: rgba(58, 58, 58, 1);
  --san-juan: rgba(56, 73, 99, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
